<!DOCTYPE html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>{{.title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="tr" />
    <style type="text/css" media="all">
		@import url("/public/css/style.css?2");
		@import url("/public/css/visualize.css");
		@import url("/public/css/date_input.css");
        .highlight { background-color: yellow }
    </style>

    <script  src="https://code.jquery.com/jquery-2.2.4.min.js"    crossorigin="anonymous"></script>
</head>
<body>

